/*
 * body {
  overflow: scroll;
}  
*/

#main {
  margin-top:5em;
  width:100%;
}

nav {
  position:fixed;
  top:0;
  left:0;
  margin:0;
  padding:0;
  height:4em;
  width:100%;
  overflow: hidden;
  background-color: #333333;
  z-index:1;
}

nav ul {
  vertical-align: bottom;
  list-style-type: none;
}

nav li {
  float: left;
}

nav li a {
  color: white;
  padding: 16px;
  font-size:150%;
  text-decoration:none;
}

.anchor {
  position: absolute;
  margin: -4.5em;
}

h1 {
  font-size:150%;
}

#about, #contribute {
  max-width:50em;
}

table { 
  table-layout:fixed;
}

caption {
  padding: 10px 0px;
  text-align: left;
}

th {
  padding: 2px 10px;
  text-align: left;
}  

td {
  padding: 2px 10px;
  word-wrap:break-word;
}

tr:nth-child(even) {
  background-color: #F5F5F5;
}

.type {
  width: 20em;
}

.selection {
  width: 30em;
}

.gene {
  width: 10em;
}

.references {
  width: 10em;
}

.organism {
  width: 6em;
}

.alteration {
  width: 6em;
}

.refnumber {
  width: 3em;
}

.reftitle {
  width: 60em;
}

.reflink {
  width: 8em;
}

.refpdf {
  width: 3em;
}

.journal {
  color: grey
}


