/*
 * body {
  overflow: scroll;
}  
*/

#main {
  margin-top:5em;
  width:100%;
}

nav {
  position:fixed;
  top:0;
  left:0;
  margin:0;
  padding:0;
  height:3rem;
  width:100%;
  overflow: hidden;
  background-color: #333333;
  z-index:1;
  font-size:125%;
}

nav ul {
  list-style-type: none;
  margin:0px 0px 0px 25px;
  padding:0px;
  height:100%;
}

nav li {
  float: left;
  height:100%;
}

nav a {
  line-height:3rem;
  color: white;
  padding: 0px 25px 0px 0px;
  text-decoration:none;
}

.anchor {
  position: absolute;
  margin: -3.5rem;
}

h1 {
  font-size:150%;
}

#about, #contribute {
  max-width:50em;
  margin: 10px 20px;
}

#table1, #table2, #references {
  margin: 10px 20px;
}

footer {
  margin: 20px 20px;
  max-width:50em;
}

footer p {
  color: grey;
  margin: 0.7em 0em;
  font-family: fantasy;
  font-size: 80%;
}

table { 
  table-layout:fixed;
}

caption {
  padding: 10px 0px;
  text-align: left;
}

th {
  padding: 2px 10px;
  text-align: left;
}  

td {
  padding: 2px 10px;
  word-wrap:break-word;
}

tr:nth-child(even) {
  background-color: #F5F5F5;
}

.type {
  width: 20em;
}

.selection {
  width: 30em;
}

.gene {
  width: 10em;
}

.references {
  width: 10em;
}

.organism {
  width: 6em;
}

.alteration {
  width: 6em;
}

.refnumber {
  width: 3em;
}

.reftitle {
  width: 50em;
}

.reflink {
  width: 8em;
}

.refpdf {
  width: 3em;
}

.journal {
  color: grey
}

